<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lindrive</title>
</head>
<body>
<div>
    <p>A folder will be created at the root level of your Google drive to keep all the data you choose. Would you like
        to name it?</p>
    <form id="nameForm" method="POST" action="http://localhost:8080/drive">
        <label>
            <input name="folderName" placeholder="lindrive">
            <button>Update name</button>
        </label>
    </form>
</div>
</body>
</html>